*{
    padding: 0 auto;
    margin: 0 auto;
}

body{
    padding: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(236, 229, 170);
}

#caja{
    width: 400px;
    height: 350px;
    background-color: rgb(208, 150, 226);   
    margin: 15px;
    padding: 4px;
    border-color: black;
    border-radius: 8px;
}

#btnBuscar{
    background-color: rgb(101, 49, 117);
    color: white;
    border-radius: 8px;
    text-align: center;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btnLimpiar{
    background-color: rgb(136, 65, 157);
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}